<h1><%= @institute.name %></h1>
<table>
  <tr>
    <th>Student</th>
    <th>Department</th>
    <th>Year</th>
    <th>Maths</th>
    <th>Physics</th>
    <th>Chemistry</th>
  </tr>
<% @students.each do |student| %>
  <tr>
    <td><%= student.student_id %></td>
    <td><%= student.department %></td>
    <td><%= student.year %></td>
    <td><%= student.maths %></td>
    <td><%= student.physics %></td>
    <td><%= student.chemistry %></td>
  </tr>
<% end %>
