<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_id %><br />
    <%= f.number_field :student_id %>
  </div>
  <div class="field">
    <%= f.label :department %><br />
    <%= f.text_field :department %>
  </div>
  <div class="field">
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </div>
  <div class="field">
    <%= f.label :maths %><br />
    <%= f.number_field :maths %>
  </div>
  <div class="field">
    <%= f.label :physics %><br />
    <%= f.number_field :physics %>
  </div>
  <div class="field">
    <%= f.label :chemistry %><br />
    <%= f.number_field :chemistry %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
