<p id="notice"><%= notice %></p>

<p>
  <b>Student:</b>
  <%= @student.student_id %>
</p>

<p>
  <b>Department:</b>
  <%= @student.department %>
</p>

<p>
  <b>Year:</b>
  <%= @student.year %>
</p>

<p>
  <b>Maths:</b>
  <%= @student.maths %>
</p>

<p>
  <b>Physics:</b>
  <%= @student.physics %>
</p>

<p>
  <b>Chemistry:</b>
  <%= @student.chemistry %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
